<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <p>
            <strong>Name</strong>: {{example.name}}</p>
          <p>
          <p>

            <strong>Ingredients</strong>: {{example.ingrOne}}<br>{{example.ingrTwo}}<br>{{example.ingrThree}} </p>

          <p>
          <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- <h1>Here in the drink list</h1> --}}