<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <p id="cocktail-name">{{example.name}}</p>
          <p> <strong>Ingredients:</strong><br>{{example.ingrOne}}<br>{{example.ingrTwo}}<br>{{example.ingrThree}}<br>
          {{example.ingrFour}}<br>{{example.ingrFive}}<br>{{example.ingrSix}}</p>
          <p> <strong>Steps:</strong> {{example.description}}</p>
          <p><strong>Alcoholic?</strong>{{example.alcoholic}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
